@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
}
.btn-primary {
  @apply bg-green-700;
  @apply p-4;
  @apply w-full;
  @apply text-white;
  @apply rounded-md;
  @apply transition-all;
}

.btn-primary:hover {
  @apply brightness-90;
  @apply transition-all;
}
a {
  color: #484;
}

a:hover {
  text-decoration: underline;
  color: #6a6;
}

.title-primary {
  @apply text-2xl;
  @apply text-green-900;
  @apply font-bold;
}

.title-secondary {
  @apply text-2xl;
  @apply text-gray-50;
  @apply font-bold;
}

.subtitle-primary {
  @apply text-xl;
  @apply text-green-900;
}

.subtitle-secondary {
  @apply text-xl;
  @apply text-gray-50;
}

input,
textarea {
  @apply relative;
  @apply rounded-md;
  @apply border-2;
  @apply mt-1;
  @apply p-2;
}

label {
  @apply mb-8 flex flex-col relative;
}

.card {
  @apply bg-white;
  @apply rounded-md;
  @apply p-4;
  @apply shadow-sm;
}

.error-message {
  @apply absolute right-5 top-3 z-10 bg-white p-1 text-red-500;
}
